[2017-03-21 17:18] antiagainst opened #1 "Add bare bone code to dump SPIR-V header"
**Goal**:
* Add a bare bone Emit SPIR-V `ASTFrontendAction`
* Add a bare bone SPIR-V module builder
* Add option to `dxc` to call the new action and builder to dump SPIR-V header

**Blocker**: None

[2017-03-21 17:20] antiagainst opened #2 "Set up unit testing mechanism"
**Goal**:
* Investigate existing testing mechanisms
* Gate testing SPIR-V unit tests with a new option
* Add test for dumping SPIR-V header

**Blocker**: #1

[2017-03-21 17:20] antiagainst opened #3 "Get passthrough vertex shader and its SPIR-V representation"
**Goal**:
* Write up passthrough vertex shader
* Write up its SPIR-V representation

**Blocker**: None

[2017-03-21 17:21] antiagainst opened #4 "Get passthrough pixel shader and its SPIR-V representation"
**Goal**:
* Write up passthrough pixel shader
* Write up its SPIR-V representation

**Blocker**: None

[2017-03-21 17:21] antiagainst opened #5 "Add separate command line tool hlsl2spirv"
**Goal**:
* Add a separate command line tool `hlsl2spirv` for SPIR-V generation
* Using `CompilerInstance` and `FrontendAction` directly
* No need to support `dxc` command line options yet

**Blocker**: None

[2017-03-21 17:22] antiagainst opened #6 "Add support for Linux"
**Goal**:
* Compile clang libraries on Linux
* Compile supporting LLVM libraries on Linux
* Bring up `hlsl2spirv` on Linux
* Don't care about DXIL codegen

**Blocker**: None

[2017-03-21 17:22] antiagainst opened #7 "Add SPIR-V instruction builder"
**Goal**:
* Add a low-level SPIR-V instruction builder
* Have one builder method for each instruction
* Builder methods should reflect instruction layout
* Optimally generate this builder from the grammar

**Blocker**: #1

[2017-03-21 17:23] antiagainst opened #8 "Add Appveyor configuration"
**Goal**:
* Appveyor configuration for building and testing

**Blocker**: None

[2017-03-21 17:39] antiagainst commented on #2
We will use googletest as the unit test framework. So this task will add googletest as an optional dependency.

[2017-03-23 13:42] antiagainst commented on #8
This is done via 7a24bac9b5fddcb1cfa4c4d30d271b24fd2e7b73 by Microsoft. Yay!

[2017-03-23 13:42] #8 closed

[2017-03-23 13:44] antiagainst commented on #1
**Design?**: N/A
**Pull request**: #9
**Test coverage**: Missing
Verifer: @ehsannas

[2017-03-23 22:07] antiagainst opened #12 "Register generator number"
**Goal**:
* Register a generator number in SPIRV-Headers

**Blocker**: None

[2017-03-23 22:09] antiagainst commented on #12
Done via https://github.com/KhronosGroup/SPIRV-Headers/commit/cdd37aa9584ed11133eaff1df6a382d6a64ff154

[2017-03-23 22:09] #12 closed

[2017-03-27 14:07] antiagainst opened #14 "Add SPIR-V module builder"
**Goal**:
* Add a SPIR-V module builder
* Directly generate SPIR-V words
* Handle module, function, and basic block structures

[2017-03-27 14:08] #1 closed

[2017-03-27 14:10] antiagainst commented on #2
**Design?**: N/A
**Pull request**: #11
**Test coverage**: N/A
Verifer: antiagainst

[2017-03-27 14:10] #2 closed

[2017-03-29 20:49] antiagainst commented on #7
**Design?**: Done
Pull request: #9
Test coverage: #15
Verifer: @ehsannas

[2017-03-29 20:49] #7 closed

[2017-03-30 20:48] ehsannas opened #18 "Add more unit tests for Types and Decorations"
Need test case for
* vectors of different types/number-of-elements
* structs with different struct decorations
* structs with different member decorations
* etc.

[2017-03-30 22:06] antiagainst opened #19 "Add SPIR-V type manager for scalar types"
**Goal**:
* Design SPIR-V type manager
* Cover `OpTypeVoid`, `OpTypeBool`, `OpTypeInt`, `OpTypeFloat`

[2017-03-30 22:11] antiagainst opened #20 "Add SPIR-V type manager for composite types"
**Goals**
* Design type manager for composite types
* Design how to handle decorations on complicated tpes
* Cover vectors, matrices, arrays, structs

[2017-03-30 22:12] antiagainst opened #21 "Add SPIR-V type manager for image and opaque types"
**Goals**
* Design how to handle image and opaque types
* Include Decoration handling

[2017-04-03 15:40] antiagainst opened #23 "Add doc for SPIR-V codegen"
**Goals**
* Add `SPIR-V.rst` in `docs/`
* Cover designs and logistics
* Cover mappings between HLSL and SPIR-V

[2017-04-03 15:41] antiagainst opened #24 "Add SPIRV-Tools as an optional dependency"
**Goal**
* Pull in SPIRV-Tools as an optional dependency

[2017-04-06 14:21] antiagainst opened #28 "Add SPIRV-Headers as an optional dependency"
**Goals**
* Pull in SPIRV-Headers as dependency
* Use headers from SPIRV-Headers
* Switch to use SPIR-V 1.0

[2017-04-06 14:25] antiagainst commented on #19
**Design?**: Done
**Pull request**: #16
**Test coverage**: #27
Verifer: @antiagainst

[2017-04-06 14:25] #19 closed

[2017-04-06 14:27] antiagainst commented on #14
**Design?**: Done
**Pull request**: #17
**Test coverage**: #17
Verifer: @antiagainst

[2017-04-06 14:27] #14 closed

[2017-04-06 14:29] antiagainst commented on #28
**Design?**: N/A
**Pull request**: #25
**Test coverage**: N/A
Verifer: @antiagainst

[2017-04-06 14:29] #28 closed

[2017-04-06 18:19] antiagainst commented on #20
**Design?**: Done
**Pull request**: #16
**Test coverage**: #27
Verifer: @antiagainst

[2017-04-06 18:19] #20 closed

[2017-04-06 18:19] antiagainst commented on #21
**Design?**: Done
**Pull request**: #16
**Test coverage**: #27
Verifer: @antiagainst

[2017-04-06 18:19] #21 closed

[2017-04-06 18:21] antiagainst opened #29 "Add basic googletest fixture for codegen test"
**Goals**
* Add a basic googletest fixture to read source file, call the compiler, and then compare result
* Should support `CHECK-WHOLE-PROGRAM` directive

[2017-04-06 18:31] antiagainst commented on #24
**Design?**: N/A
**Pull request**: #25
**Test coverage**: N/A
Verifer: @antiagainst

[2017-04-06 18:31] #24 closed

[2017-04-07 19:14] ehsannas opened #30 ""dxc.exe -help" has stopped working!"

[2017-04-11 16:47] antiagainst opened #31 "Enable ninja build on Windows"
**Goal**
* Support Ninja generator in `hctbuild` & `hcttest`

[2017-04-11 16:47] antiagainst opened #32 "Translate pixel shader writing constant value"
**Goal**:
* Translate `float4 PSMain(): SV_TARGET { return float4(1.0f, 1.0f, 1.0f, 1.0f); }`

[2017-04-14 15:39] oscarbg opened #35 "Provide some experimental build?"
Hi,
can enable artifacts in Appveyor?
so we have SPIR-V experimental builds to play..
thanks..

[2017-04-14 17:09] antiagainst commented on #35
Thanks for the suggestion!

Right now we are still at the early stage of development; little HLSL features are covered thus far. I'll keep this issue open so we can try to set it up later when we have some basic coverage. :)

[2017-04-17 22:40] antiagainst commented on #31
Design?: N/A
Pull request: https://github.com/Microsoft/DirectXShaderCompiler/pull/203  https://github.com/Microsoft/DirectXShaderCompiler/pull/223
Test coverage: N/A
Verifer: @antiagainst

[2017-04-17 22:40] #31 closed

[2017-04-17 22:41] antiagainst commented on #18
Design?: N/A
Pull request: #26 #27
Test coverage: #26 #27
Verifer: @antiagainst

[2017-04-17 22:41] #18 closed

[2017-04-17 22:43] antiagainst commented on #29
Design?: N/A
Pull request: #34
Test coverage: Yes
Verifer: @antiagainst

[2017-04-17 22:43] #29 closed

[2017-04-17 22:45] antiagainst commented on #23
Design?: N/A
Pull request: https://github.com/Microsoft/DirectXShaderCompiler/pull/215
Test coverage: N/A
Verifer: @antiagainst

[2017-04-17 22:45] #23 closed

[2017-04-17 22:54] antiagainst opened #36 "Translate Clang AST scalar types into SPIR-V instructions"
**Goal**:
* Cover `void`, integers, and floats

[2017-04-17 22:58] antiagainst opened #37 "Rebase and upstream existing code"
* Upstream code in `spirv` branch to Microsoft codebase
* Remove googletest code checked in; structure as an external project

[2017-04-18 14:51] ehsannas opened #39 "Handle entry point"
**Goals**
* Emit the correct `OpEntryPoint` for `void main() {}` as pixel shader

[2017-04-18 14:51] ehsannas opened #40 "Handle execution mode"
**Goals**
* Emit the correct `OpExecutionMode` for `void main() {}` as pixel shader

[2017-04-19 18:11] ehsannas commented on #39
pull #41 adds `OpEntryPoint` with the correct ExecutionModel, function ID and function name.

Keeping this issue open since Interface\<id\>s are not yet added to the OpEntryPoint instruction.

[2017-04-19 18:55] ehsannas opened #43 "Consider simplifying the InstBuilder API"
@antiagainst
At some point we should think again about whether it still makes sense to use a "word consumer" for the instruction builder. Instead, we could have the ".x()" function return the word vector.

For instance, I just wrote the following code in a pull request:

[code]

If the above change is made, the above code would be simplified to:
[code]

If there is any good example of the WordCons

[2017-04-19 19:38] antiagainst commented on #43
The `WordConsumer` is useful for collecting multiple instructions, e.g., when calling `take()` on the module. But what listed above definitely makes sense. We should have another method for just constructing and returning a single instruction.

[2017-04-19 20:28] antiagainst commented on #4
HLSL:

[code]

Example SPIR-V from glslang:
[code]

[2017-04-19 20:49] ehsannas commented on #4
I believe the passthrough vertex shader should look like this:

HLSL:
[code]

[2017-04-19 21:03] ehsannas commented on #40
pull #41 adds `OpExecutionMode` with the correct function id target. However, it currently uses OriginUpperLeft as the default execution mode.

Keeping this issue open to implement the logic for determining the execution mode based on shader stage, semantics, etc.

[2017-04-20 13:52] antiagainst commented on #3
HLSL:
[code]

Sample SPIR-V from glslang:
[code]

[2017-04-20 13:52] antiagainst commented on #4
@ehsannas Yes. I added this and its SPIR-V codegen in #3.

[2017-04-20 13:54] antiagainst commented on #39
@ehsannas This can be marked as done once #41 is merged since it only asks the entry point for `void main() {}`. We can have another task for emitting interface ids later.

[2017-04-20 13:54] antiagainst commented on #40
Can be marked as done once #41 is merged since it's only asking for the execution mode for `void main() {}` as pixel shader.

[2017-04-21 13:55] antiagainst commented on #40
Design?: N/A
Pull request: #41
Test coverage: #41
Verifer: @antiagainst

[2017-04-21 13:55] #40 closed

[2017-04-21 13:55] antiagainst commented on #39
Design?: N/A
Pull request: #41
Test coverage: #41
Verifer: @antiagainst

[2017-04-21 13:55] #39 closed

[2017-04-21 14:29] ehsannas opened #45 "Handle function parameters"

[2017-04-21 14:30] ehsannas commented on #45
Done via merge #44

[2017-04-21 14:30] #45 closed

[2017-04-25 21:02] #4 closed

[2017-04-25 21:37] antiagainst opened #49 "Translate pass-through pixel shader"
**Goal**

Fully translate the following shader:

[code]

[2017-04-25 21:38] antiagainst commented on #49
Design?: TODO
Pull request: #47
Test coverage: #47
Verifer: @antiagainst

[2017-04-25 21:38] #49 closed

[2017-04-25 21:39] antiagainst opened #50 "Use DiagnosticEngine to report unimplemented features"

[2017-04-25 21:41] antiagainst opened #51 "Handle normal function parameters"
**Goal**
* Generate `OpFunctionParameter` for normal function parameters (without semantics)

[2017-04-25 21:42] antiagainst commented on #51
Design?: N/A
Pull request: #44
Test coverage: #44
Verifer: @antiagainst

[2017-04-25 21:42] #51 closed

[2017-04-25 21:44] antiagainst opened #52 "Emit debug name for functions"

[2017-04-26 14:37] antiagainst opened #53 "Translate pass-through compute shader using "Raw Buffers""

[2017-04-26 14:46] ehsannas commented on #53
Goals:
* Write pass-through compute shader in HLSL
* Work towards getting the equivalent SPIR-V module in the hlsl2spirv flow

[2017-04-26 16:25] ehsannas commented on #32
I've started looking into
`float4(1.0f, 1.0f, 1.0f, 1.0f);`

[2017-04-26 18:17] ehsannas opened #54 "Translate pass-through compute shader using "Structured Buffers""

[2017-04-26 18:24] ehsannas commented on #53
source: https://msdn.microsoft.com/en-us/library/windows/desktop/ff476330(v=vs.85).aspx
Using the above as source, I have written the following HLSL compute shader:

[code]

[2017-04-26 18:27] ehsannas commented on #54
source: https://msdn.microsoft.com/en-us/library/windows/desktop/ff476330(v=vs.85).aspx
Using the above as source, I have written the following HLSL compute shader:

[code]

[2017-05-02 15:04] antiagainst commented on #50
Design?: N/A
Pull request: #46
Test coverage: N/A
Verifer: @antiagainst

[2017-05-02 15:04] #50 closed

[2017-05-02 15:05] antiagainst commented on #3
Design?: N/A
Pull request: N/A
Test coverage: N/A
Verifer: @antiagainst

[2017-05-02 15:05] #3 closed

[2017-05-02 15:05] antiagainst commented on #30
It's working now.

[2017-05-02 15:05] #30 closed

[2017-05-02 15:06] antiagainst commented on #52
Design?: N/A
Pull request: #48
Test coverage: #48
Verifer: @antiagainst

[2017-05-02 15:06] #52 closed

[2017-05-02 15:08] antiagainst opened #58 "Handle 32bit float literals"
**Goals**
* Cover 32 bit float literals including
  * Zero
  * Normalized
  * Denormalized
  * Infinity
  * NaN

[2017-05-02 15:10] antiagainst opened #59 "Link in effcee for FileCheck style tests"

[2017-05-02 15:10] antiagainst opened #60 "Clean up structures & ModuleBuilder"
**Goal**
* Embed `Module` into `ModuleBuilder`
* Create `struct` for `Instruction`
* etc.

[2017-05-02 16:31] antiagainst opened #61 "Translate pass-through vertex shader"
**Goal**

Translate the pass-through shader in #3

[2017-05-02 16:31] antiagainst opened #62 "Add representation for constants"

[2017-05-02 16:32] antiagainst commented on #61
Design?: N/A
Pull request: #55
Test coverage: #55
Verifer: @antiagainst

[2017-05-02 16:32] #61 closed

[2017-05-04 14:47] ehsannas commented on #32
Done via PR #57

[2017-05-04 14:47] #32 closed

[2017-05-04 14:48] ehsannas commented on #62
Done via PR #57

[2017-05-04 14:48] #62 closed

[2017-05-04 14:48] ehsannas commented on #59
In progress 🚧

[2017-05-04 15:04] ehsannas commented on #59
There are currently some issues that prevent us from pulling in effcee:

* Since we already have googletest under `DirectXShaderCompiler/external/googletest`, there's no reason to also include it under `DirectXShaderCompiler/external/effcee/third_party/googletest`.
If `googletest` is not included under `effcee/third_party`, effcee won't compile successfully. https://github.com/google/effcee/pull/1

[2017-05-04 15:04] ehsannas commented on #59
FYI, here's a list of compiler flags used when compiling re2:
[code]

[2017-05-09 18:25] #43 closed

[2017-05-09 18:25] antiagainst commented on #43
We already have it.

[2017-05-09 18:27] antiagainst opened #66 "Simplify file parsing in tests"
Right now we read in the test source code line by line, create a `string` for each line and then append the `string`s to a stream. We can instead read in the whole file and search for the `RUN` directive. Then only one temporary string for holding the `RUN` directive needs to be created.

[2017-05-09 20:01] ehsannas commented on #59
Done via e0bc10f

[2017-05-09 20:01] #59 closed

[2017-05-10 14:05] antiagainst commented on #36
Done via https://github.com/google/DirectXShaderCompiler/pull/64

[2017-05-10 14:05] #36 closed

[2017-05-10 14:05] antiagainst opened #69 "Translate constants for scalar types"
**Goals**
* cover `bool`, `int`, `uint`, `float`

[2017-05-10 14:06] antiagainst commented on #69
Done via #68

[2017-05-10 14:06] #69 closed

[2017-05-10 14:07] antiagainst commented on #66
Done #67.

[2017-05-10 14:07] #66 closed

[2017-05-10 14:23] antiagainst opened #71 "Assignment for scalar types"
**Goal**

* Support `=` for scalar types

[2017-05-17 20:53] ehsannas opened #76 "Need -mfmt=<format> to specify output format"
Similar to https://github.com/google/shaderc/tree/master/glslc#453--mfmtformat, we need to be able to specify the SPIR-V output format.
Most importantly, -mfmt=c is useful when we want to include a shader in the graphics pipeline.

[2017-05-23 19:44] antiagainst opened #79 "Handle if statement"
**Goal**

* Support basic `if` statement without early returns
* Support nested `if` statements

[2017-05-23 19:44] antiagainst opened #80 "Handle for statement"
**Goal**

* Support basic `for` statements
* Support nested `for` statements
* No need to support early returns and loop breaks for now

[2017-05-23 19:44] antiagainst opened #81 "Support vector type"
**Goal**

* Support vector types
* Support arithmetic operators on vector types

[2017-05-23 19:48] antiagainst commented on #79
Done via #73

[2017-05-23 19:48] #79 closed

[2017-05-23 19:48] antiagainst commented on #80
Done via #74

[2017-05-23 19:48] #80 closed

[2017-05-23 19:49] antiagainst opened #82 "Translate function calls"
**Goal**

* Support function calls
* Support non-entry-point functions

[2017-06-08 03:26] antiagainst opened #89 "Handle compound bitwise assignment for boolean values"
E.g., for the following HLSL:

[code]

The AST is
[code]
Current codegen will emit `OpBitwiseAnd` for boolean types, which is forbidden by SPIR-V spec. Should fix this.

[2017-06-08 03:33] antiagainst commented on #82
Done via #78.

[2017-06-08 03:33] #82 closed

[2017-06-08 03:33] antiagainst commented on #81
Done via #83

[2017-06-08 03:33] #81 closed

[2017-06-08 03:33] antiagainst commented on #71
Done via #70

[2017-06-08 03:33] #71 closed

[2017-06-13 18:57] antiagainst opened #102 "Handle storage class when generating vector swizzles"

[2017-06-26 18:25] ehsannas opened #110 "Avoid emitting OpVariable for constant variables"
when facing
`const int a = 10;`
we could theoretically just translate to:
`%const_id = OpConstant %int 10`

and we can use `%const_id` anywhere `a` is used.

We currently create the constant as well as a variable, and we use `%var`

[code]

[2017-07-04 17:56] antiagainst opened #118 "Handle scalar *= vector/matrix cases"

[2017-08-12 14:48] whenimg0ne opened #155 "Type conversion from 'half' to 'OpTypeFloat 32' should be retained."
Hello,

`docs/SPIR-V.rst` states that the normal scalar type `half` is mapped to `OpTypeFloat 16`.  According to [the MSDN documentation for Scalar Types in HLSL](https://msdn.microsoft.com/en-us/library/windows/desktop/bb509646(v=vs.85).aspx) , `half` is treated as `float` nowadays.

In fact, however, current implementation for SPIR-V emitter is treating `half` type as `OpTypeFloat 32`, not `OpTy

[2017-08-12 16:16] antiagainst commented on #155
Hi @whenimg0ne!

I'm very glad to hear that you have tried out and are happy with SPIR-V codegen. :)

Actually, we haven't "officially" supported `half` yet (there are no tests existing for it in [CodeGenSPIRV](https://github.com/google/DirectXShaderCompiler/tree/spirv/tools/clang/test/CodeGenSPIRV)). The mentioning of `half` in SPIR-V.rst is from the very beginning when we just started working on

[2017-08-13 02:48] whenimg0ne commented on #155
Hi @antiagainst!

Oh, my bad.  I haven't looked for test codes thus didn't know that `half` is not officially supported yet.

Thank you for sharing detailed status about SPIR-V.rst and the project.
I'm looking forward to see and try out SPIR-V codegen when any of your works has merged into master!

I appreciate your quick reply.

[2017-08-13 02:49] #155 closed

[2017-08-16 20:00] ehsannas commented on #53
ByteAddressBuffer and RWByteAddressBuffer type translation was added via mr #157

[2017-08-16 20:01] ehsannas commented on #53
Translation for Load, Load2, Load3, Load4 is under review via PR #159

[2017-08-17 18:31] ehsannas commented on #53
Translation of Store, Store2, Store3, Store4 is under review via pr #162 .

[2017-08-24 20:45] antiagainst opened #167 "Duplicate debug names for image types"
We'll need to add de-duplication functionality in debug name handling in `spirv::Module`.

[2017-08-24 22:09] antiagainst opened #168 "Need to enhance the return value of various do*() methods in SPIR-V emitter"
Right now they just return a `uint32_t` representing the result id of the expression. That loses lots of information. We need to return a struct containing the following information:

* result id
* constness
* storage class
* memory layout rules
* relaxed precision or not
* etc.

[2017-08-24 22:09] #37 closed

[2017-08-24 22:11] antiagainst commented on #5
Don't need this anymore

[2017-08-24 22:11] #5 closed

[2017-08-24 22:12] antiagainst commented on #53
This is landed as https://github.com/Microsoft/DirectXShaderCompiler/commit/a4efd3babca66c446d157c697992b2909e42bbc0

[2017-08-24 22:12] #53 closed

[2017-08-24 22:26] antiagainst commented on #155
@whenimg0ne: Just wanted to let you know that this pull request (https://github.com/Microsoft/DirectXShaderCompiler/pull/596) will update the doc to reflect the current state.

[2017-09-22 13:47] antiagainst commented on #35
Hi @oscarbg,

I've created https://github.com/Microsoft/DirectXShaderCompiler/pull/641 which will do the trick. Thanks!

[2017-09-22 21:35] antiagainst commented on #35
Microsoft#641 is merged. This is done now.

[2017-09-23 00:01] oscarbg commented on #35
Thanks!
just a minor request:
can you generate a zipped file as a result artifact instead of the 17 files so we can get easily downloading from a browser..

[2017-09-23 01:26] antiagainst commented on #35
That is reasonable. But I think some of the artifacts are not interesting at all. So need to trim the list. Will zip the rest then.

I'll reopen this issue to track the progress.

[2017-09-23 02:40] oscarbg commented on #35
thanks..
I written a very simple script to download all..
changing build job id in script should work for future builds..

getarti.bat
[code]
baja.bat
[code]

[2017-09-25 15:10] antiagainst commented on #35
FYI: https://github.com/Microsoft/DirectXShaderCompiler/pull/647 zips all build artifacts.

[2017-09-25 16:50] antiagainst commented on #35
Microsoft#647 is merged. I'll close this issue now.

[2017-09-26 11:24] #35 closed

[2018-04-07 13:30] antiagainst commented on #168
We now have `SpirvEvalInfo`.

[2018-04-07 13:30] #168 closed

[2018-04-07 13:31] antiagainst commented on #102
We haven't have issues w.r.t. storage classes for a while. Should be fine right now.

[2018-04-07 13:31] #102 closed

[2018-04-07 13:35] #167 closed

[2018-05-09 16:32] #6 closed

[2018-05-15 14:46] ehsannas commented on #76
You can use -Fh for this purpose.

[2018-05-15 14:46] #76 closed

[2018-05-15 14:46] #110 closed

[2018-05-15 14:47] ehsannas commented on #118
Done

[2018-05-15 14:47] #118 closed

[2018-05-15 14:47] ehsannas commented on #60
Done

[2018-05-15 14:47] #60 closed

[2018-05-15 14:47] ehsannas commented on #54
Done

[2018-05-15 14:47] #54 closed

[2018-05-15 14:47] #89 closed

[2018-05-15 14:48] #58 closed

[2018-05-15 15:01] ehsannas opened #170 "[linux-port] Compilation error of DiagPrinter << std::hex"
Two code snippets are currently commented out in DxilRootSignature.cpp:
https://github.com/google/DirectXShaderCompiler/blob/linux/lib/HLSL/DxilRootSignature.cpp#L486
https://github.com/google/DirectXShaderCompiler/blob/linux/lib/HLSL/DxilRootSignature.cpp#L637

Because it seems that the DiagPrinter does not like `std::hex` as argument.

Compiler error:
`
error: invalid operands to binary expressi

[2018-05-15 15:03] ehsannas commented on #170
@pow2clk, would you please take a look?

[2018-05-15 15:38] ehsannas opened #172 "[linux-port] CA2W and CA2WEX"
I have [implemented](https://github.com/google/DirectXShaderCompiler/blob/linux/include/llvm/Support/WinTypes.h#L436) a simple `CW2A` class which is being used by the codebase when compiling on Linux.

We also need CA2W and CA2WEX classes that can fill the void of these Windows functions.

Once these are implemented, the hacks in SemaHLSL.cpp should be removed. [usage1](https://github.com/google/D

[2018-05-15 15:49] ehsannas opened #173 "[linux-port] Thread-local storage"
In a few places in the codebase, TlsAlloc, TlsSetValue, TlsGetValue, and TlsFree are used. While these functions are available on the Windows platform, they are not on Linux/MacOS.

As a result, we should use an alternative. Currently, I have used the standard C++ `thread_local` keyword to handle these cases on Linux. However, it's been brought to my attention that compiling `thread_local` using C

[2018-05-15 16:44] ehsannas opened #175 "[linux-port] GUID for interfaces"
One of the fundamental things that makes COM work with interfaces are GUIDs (globally unique IDs).
`QueryInterface` functions are implemented by comparing a given GUID with other known GUIDs in order to properly cast a `void*` to a meaningful interface/object pointer.

You can see that in several occasions, the codebase uses
[code]
in order to get the GUID and pass that around in different functio

[2018-05-15 16:49] ehsannas opened #176 "[linux-port] SPIR-V CodeGen tests segfault on Linux"
To reproduce, run:
[code]
Figure out what is causing the segfault and fix. I suspect it has to do with File I/O.

[2018-05-15 16:51] ehsannas opened #177 "[linux-port] Fix Appveyor and Travis for the Linux branch"
In order to make sure that our changes to the `linux` branch does not break the Linux build or the Windows build, I have enabled the Appveyor and Travis CI buildbots.

These are currently failing.

We have to first reach a point where these are all passing.

[2018-05-16 19:40] ehsannas opened #183 "[linux-port] Command line options not working"
I am adding a hack via PR #182 in order to disable a command line option processing error.

We must figure out why this error occurs:
[code]

[2018-05-16 20:24] ehsannas opened #184 "[linux-port] Fix GCC compile errors"
Currently the Linux builds using clang are passing, but builds using gcc are failing.

@pow2clk, would you please send PRs to fix the gcc builds? It'd be great to see a green check-mark from the Travis Linux buildbots.

[2018-05-17 13:29] ehsannas commented on #177
I have added pull #174 in which the Appveyor bot is passing both Windows and Linux:
https://ci.appveyor.com/project/ehsannas/directxshadercompiler/build/1.0.21

Sadly, once merged, one of the MS tests (CompilerTest::CompileWhenNoMemThenOOM) fail on Windows:
https://ci.appveyor.com/project/ehsannas/directxshadercompiler/build/1.0.24

Need to figure out why and fix.

[2018-05-17 13:49] ehsannas opened #187 "[linux-port] Can't build clang-spirv-tests in Debug mode"
Compiling the clang-spirv-tests target in **Release** mode works, but it fails in **Debug** mode :(

It fails while linking with the following errors:

[2018-05-17 13:53] ehsannas commented on #187
lib/libLLVMHLSL.a(DxilModule.cpp.o): In function `DxilModule':
lib/HLSL/DxilModule.cpp:95: undefined reference to
`llvm::Function::viewCFGOnly() const'

lib/libLLVMHLSL.a(DxilRootSignature.cpp.o): In function `hlsl::SerializeRootSignature(hlsl::DxilVersionedRootSignatureDesc const*, IDxcBlob**, IDxcBlobEncoding**, bool)':
lib/HLSL/DxilRootSignature.cpp:1422: undefined reference to `hlsl::DxcCreate

[2018-05-17 17:41] pow2clk commented on #177
Looks like this is failing in the MS repo too. At least we're all suffering together.

[2018-05-17 17:58] ehsannas commented on #177
oh yeah... I'm glad it's failing there too :)
At least I know it's not due to linux-specific changes made on the google fork.
The test that's failing is named something like OOM (out of memory?) ... so it might be a problem with the bot... not sure.

[2018-05-17 20:06] #170 closed

[2018-05-17 20:06] ehsannas commented on #172
Fixed.

[2018-05-17 20:06] #172 closed

[2018-05-18 20:43] ehsannas opened #194 "Port DXC to Linux [umbrella issue]"
This is an umbrella issue to track all the work that's needed to be done related to porting DXC to Linux.

[2018-05-18 21:58] antiagainst opened #196 "[linux] Minimum supported GCC/Clang version"
We need to set a minimum supported GCC/Clang version and have the CIs testing them.

I'm thinking about
* GCC: 5.3, released on 2015-12-04 (https://gcc.gnu.org/releases.html)
* Clang: 3.8, released on 2016-03-08 (http://releases.llvm.org/)

Why these two versions? My anchor is the previous LTS version of Ubuntu: 16.04. It ships with the above two versions.
* GCC: https://packages.ubuntu.com/xenial

[2018-05-19 00:05] pow2clk commented on #196
I think it bears mentioning that while C++11 support is greatly improved in GCC5 over GCC4, it's still not enabled by default. That means a flag would have to be set. I'll see if I have more success installing GCC5 than I did GCC4 and see how it does with the build.

[2018-05-19 02:07] pow2clk commented on #196
I was more successful in getting gcc5. However it was not more successful at processing  enum values referenced using scope operators :: than GCC4. That's something we could conceivably fix, but it might be a lot of work to remove what is a valid C++11 functionality.  I don't know how pervasive it is.

[2018-05-19 03:46] antiagainst commented on #196
Regarding default C++ version, I think GCC [5 is `-std=gnu11`](https://gcc.gnu.org/gcc-5/changes.html) and [6 is `-std=gnu14`](https://gcc.gnu.org/gcc-6/changes.html)?

[2018-05-19 04:00] antiagainst commented on #196
Interesting. Thanks for the update! I don't want to create lots of work for you by requiring GCC 5. My initial thought was that presumably lots of people are still using Ubuntu 16.04 LTS, so it would be nice to give them a hassle-free way of compiling DXC. I think if we can support Clang 3.8, then that goal is somewhat satisfied; people will just need `apt install clang` and set `CMAKE_{C|CXX}_COM

[2018-05-19 08:39] pow2clk commented on #196
Well. The documentation for GCC6 says that it increased the default C++ version from 98 to 14, which suggests they skipped 11. However, in my experience, it does not support C++14 features such as make_unique unless you provide a flag. GCC5 is supposed to support all the enum class features, but doesn't allow scoping. So there does seem to be something of a disconnect between release docs and real

[2018-05-19 09:18] pow2clk commented on #196
I just made a little test program (tm). That suggests the problem is not as widespread as I'd thought. Instead it seems that the case in question in ScalarReplAggregatesHLSL.cpp was complicated by the HLSL code's peculiar proclivity to give types and variables the same names. Given that it works fine on GCC6 and doesn't on GCC5 or 4, it's likely that this is technically a bug in GCC that was fixed

[2018-05-19 10:42] pow2clk commented on #196
https://github.com/google/DirectXShaderCompiler/pull/197 fixes these issues. It includes a change I was working on earlier for GCC6 support but ultimately considered unnecessary. The bulk of the change is renaming variables that share a name with a type. Something GCC disdains and this code base seems to love.

[2018-05-19 14:51] pow2clk commented on #184
I think this is done? I don't know anything else to do with it. I submitted a PR for GCC5, but that has its own issue really.

[2018-05-19 15:05] antiagainst commented on #184
Yes. I'll close this. Thanks!

[2018-05-19 15:05] #184 closed

[2018-05-19 15:47] pow2clk opened #198 "Thread-safe mechanisms not fully implemented on non-Win32"
InterlockedIncrement and InterlockedDecrement are atomic operations to increment or decrement the value pointed to by the pointer parameter and return the same. Currently they are implemented as simple addition operations in WinMacros.h for non-win32 platforms which works well enough, but wasn't really the original intent.

InitializeCriticalSection, DeleteCriticalSection, EnterCriticalSection, an

[2018-05-19 16:12] ehsannas commented on #198
+1

[2018-05-19 17:01] ehsannas opened #199 "[linux-port] Enable MacOS buildbots"
Enable MacOS buildbots for the google/linux branch so we know where we stand.

[2018-05-23 19:32] ehsannas commented on #176
Fixed via #193

[2018-05-23 19:32] #176 closed

[2018-05-25 16:43] ehsannas commented on #175
With PR #202 , we are no longer relying on typeid / RTTI.

The method used to address the problem is as follows:
Each interface declaration adds
[code]
to the end of the structure.

The cpp file implementing the interface adds
[code]
With this, all calls to ``__uuidof``, ``IID_PPV_ARGS``, and ``IsEqualIID`` should succeed automatically.

__More details__
Under the hood:
We define a private static

[2018-05-25 16:43] #175 closed

[2018-05-26 08:25] pow2clk opened #206 "Reduce or eliminate warnings on GCC and Clang"
By my count, GCC produces 10126 warnings when building dxc. Clang produces 2335. (Clang has a tendency to consolidate when a long series of warnings are related) This overwhelming volume of warnings makes it difficult to recognize new warnings that might signal subtle bugs, slows the build, and brushes against the storage limits of the automated build system. The biggest !/$ were already eliminate

[2018-05-26 12:32] antiagainst commented on #206
Agreed. I'm using Clang 6.0.0 locally and collected the following statistics:

For warning categories:

    583 [-Wgnu-zero-variadic-macro-arguments]
    170 [-Wgnu-anonymous-struct]
    143 [-Wmissing-braces]
    133 [-Wswitch]
    121 [-Wunused-value]
    101 [-Wcast-qual]
     82 [-Wunused-function]
     78 [-Wunused-private-field]
     78 [-Winconsistent-missing-override]
     69 [-Wmismatched

[2018-05-27 03:37] pow2clk commented on #206
Sorry for letting these build up, but now you know what I've been doing this week. The great part about these changes is that they are pretty non-invasive. No one depends on any other. They don't even touch code very near each other and are therefore unlikely to cause merge conflicts. So they can be reviewed or submitted in any order and likely without a strict time constraint. So if you feel bore

[2018-05-27 11:00] pow2clk commented on #206
That's it for now! Let me know if you have questions on any of the reviews.

[2018-05-27 14:17] ehsannas commented on #206
Wow! Thanks Greg. \o/  Good stuff. I'll review these tomorrow more carefully.

[2018-05-27 21:26] pow2clk commented on #206
On my machine, these changes cumulatively leave me with 36 warnings on clang and 15 on gcc. That's not due to favoritism, just that clang is more persnickety about things that are harder to fix.

I'm not ruling out fixing what remains, but there's a reason they're all that's left. There's a pretty steep drop off in returns on effort.

[2018-05-29 01:52] pow2clk commented on #206
On the subject of external directories/repos, they also produce a lot of warnings. I was considering just enabling all the warnings, but since it was pointed out to me that we've suppressed at least one specifically for those directories, perhaps we'd rather suppress them individually. Some of them are Google projects. Perhaps we could convince the maintainers to accept fixes for them?

re2 has a

[2018-05-29 14:42] ehsannas opened #232 "Better naming for WinTypes, WinMacros, WinSAL ?"
WinTypes.h, WinMacros.h and WinSAL.h files may be confusing for someone developing on Linux?

Perhaps we should merge them into one file and call it something like WinAdapter.h.

[2018-05-29 14:49] ehsannas commented on #206
I believe the right approach for external projects is to modify the cmake file in `external/` directory to disable any warnings. Because warnings may come and go in the external projects as they develop. Their cmake configurations are different when they build them separately on their own.

[2018-05-30 00:11] pow2clk commented on #232
I think lei proposed merging them into one, which is fine. I like WinAdapter better than just Win*. I was thinking of something like "Windows on Linux" abbreviated to WOL, but I'm not particular about naming in general provided it's not apt to be mistaken for something else.

[2018-05-30 18:13] ehsannas commented on #183
Found the issue to be that the `debug` command line option was being registered more than once. This is due to the way the code (COM) is structured. the call to `dlopen` re-triggered the code that registers command line options. We had mistakenly changed `ifdef 1` to `ifdef _MSC_VER` in this case. Fixed by #234 .

[2018-05-30 23:10] antiagainst commented on #232
+1 to `WinAdapter.h`

For "Windows on Linux", I think maybe "Windows on Unix" is better.

[2018-05-31 06:06] pow2clk commented on #232
WinAdapter seems to have won out. I'm fine with that.

[2018-05-31 19:43] #183 closed

[2018-06-05 20:51] ehsannas commented on #198
@pow2clk is there any work left associated with this case?

[2018-06-05 20:52] ehsannas commented on #173
Fixed.

[2018-06-05 20:52] #173 closed

[2018-06-06 03:30] pow2clk commented on #198
Nope! I've finished everything I intended to with this.

[2018-06-06 03:30] #198 closed

[2018-06-07 19:47] ehsannas commented on #232
Fixed by #237

[2018-06-07 19:48] #232 closed

[2018-06-10 15:19] pow2clk commented on #196
I think this issue is resolved?

[2018-06-10 23:10] pow2clk commented on #199
I've started chipping away at this and I've discovered some peculiar differences between the Linux and Apple linkers.

First of all, the `g_ThreadMallocTls` global in dxcsupport is included by both libdxcompiler and the dxc binary and both make use of it. (The same was true of the previous `g_ThreadMallocTlsIndex`. So the previous change isn't relevant). In the current Linux implementation, we jus

[2018-06-11 14:08] ehsannas commented on #196
I don't think there's anything left to do. Once we create a doc file (or Wiki page) for the Linux compilation in the MS repo, we should mention the minimum version that is supported.

[2018-06-11 14:08] #196 closed

[2018-06-11 14:28] ehsannas commented on #199
Hey @pow2clk , Thanks for the detailed explanation. I'm sad to hear this; I was hoping there would be no/little friction going to MacOS. We haven't looked into enabling MacOS yet. And it is currently on the bottom of our priority list, as we've had no requests for it internally or externally (ok, maybe 1 "nice-to-have" external request). So don't be surprised if there is low/zero activity on this

[2018-06-11 14:39] pow2clk commented on #199
I was able to get it building with a few minor changes. It's the running successfully that's the problem. I'm fairly near a solution that works for all three platforms though there is some roughness around the edges that I'm unsure about. As for what's holding Apple back right now it's something deep in SPIRV-Tools causing an assert to fire.

[2018-06-25 20:39] gwihlidal opened #253 "Issue compiling with Alpine Linux and GCC 6.4"
Hello!

I'm running into issues compiling DXC on Linux (alpine 3.7) using GCC 6.4.0; there are quite a number of redefinitions throwing errors like the `fopen` one shown below.

[code]

[code]

Has this been encountered before?

Thanks!
Graham

[2018-06-25 20:51] ehsannas commented on #253
I haven't seen this error. Our Linux buildbot is currently passing using GCC 4.8.4.

Latest run: https://travis-ci.org/google/DirectXShaderCompiler/jobs/396519461

We haven't tried other GCC versions. Will try to investigate soon.

[2018-06-25 20:53] gwihlidal commented on #253
Sounds good! I just released a Dockerfile (referenced above) that can repro the issue, and also includes the full build log. In the meantime I will try with an Ubuntu base image.

[2018-06-25 20:58] ehsannas commented on #253
Feel free to poke around and if you find out the reason for failure, please feel free to post a pull-request to the google repo.

[2018-06-25 20:59] gwihlidal commented on #253
Possibly related:
* https://blogs.gentoo.org/gsoc2016-native-clang/2016/06/15/the-invisible-_gnu_source-in-your-c-code/
* https://github.com/kripken/emscripten/issues/6113

[2018-06-25 21:00] pow2clk commented on #253
I periodically compile with gcc-6.4. I've never seen this issue.

Our buildbot builds with gcc 5.4.0. Not 4.8.4. 4.8.4 support is impossible because of insufficient c++11 support.

[2018-06-25 21:06] ehsannas commented on #253
Oops, I was looking at the wrong log file. You're right.

[2018-06-25 21:06] gwihlidal commented on #253
Confirmed that using Ubuntu (18.04 in my case) works fine, so the issue is likely specific to Alpine Linux

[2018-06-25 21:07] pow2clk commented on #253
Just typing "ninja" will try to compile everything. Sadly, that doesn't work yet. you can compile dxc and clang-spirv-tests. Try just typing "ninja dxc clang-spirv-tests"

[2018-06-25 21:10] ehsannas commented on #253
@pow2clk , Actually I recently merged a [change](https://github.com/google/DirectXShaderCompiler/commit/d7a6a267cf25a8fc5ef25c24110a8e9dccd7dd49) that allows you to just run ``ninja``.

So, @gwihlidal should be fine. The documentation file is also updated and tells users to just run ``ninja``

[2018-06-25 21:11] ehsannas commented on #199
Thanks @pow2clk for the awesome work and getting things working on macOS!

[2018-06-25 21:11] ehsannas commented on #199
I think we can close this now.

[2018-06-25 21:11] #199 closed

[2018-06-25 21:11] ehsannas opened #254 "Large number of file descriptors opened when clang-spirv-tests is run"

[2018-06-25 21:13] ehsannas commented on #254
This causes test failures on macOS because the OS limits the number of FDs that the process is allowed to keep open. We are currently getting around the issue by running
``ulimit -Sn 1024; ``

[2018-06-25 21:14] ehsannas commented on #254
We should ideally find out where we're 'leaking' FDs and close them.

[2018-06-25 21:35] pow2clk commented on #253
Give this a try: https://github.com/pow2clk/DirectXShaderCompiler/tree/alpine64

To use from your already cloned DirectXShaderCompiler location:
git remote add p2c https://github.com/pow2clk/DirectXShaderCompiler.git
git fetch p2c
git checkout -b alpine64 -t p2c/alpine64
then try rebuilding. It needn't be a clean rebuild.

[2018-06-25 21:45] pow2clk commented on #253
Sorry if I'm spoonfeeding excessively. I try not to assume git familiarity levels.

[2018-06-25 21:50] gwihlidal opened #255 "Build requirements are missing python"
In order to successfully build on Linux, I needed to install python2 in addition to the described requirements. The Windows requirements correctly list python2 as a requirement.

[2018-06-25 21:58] gwihlidal opened #256 "Unifying Windows vs Linux build steps"
It may be a bit early for this, but it seems like a brief discussion around unifying the build steps between Windows and Linux would be nice.

Personally, I really dislike how the Windows version of DXC is configured and built - it deviates heavily from standard LLVM build practices, and even how cmake should be invoked. The Linux porting work makes building DXC (for Linux and OSX) much cleaner an

[2018-06-25 22:08] pow2clk commented on #256
This is something I've thought about. Personally, I'd like to be able to type cmake .. and have it "just work" unless you want to diverge from the default options. However, I've only discussed this with the spider that lives behind my desk. Off the record, I've seen some shade thrown about the Windows build system, but I don't know how the authors of hctbuild would feel about eliminating it. I'm a

[2018-06-25 22:10] gwihlidal commented on #256
It definitely feels incorrect the way it's done on Windows, to be completely blunt. This is especially true when considering that Microsoft developed vcpkg on top of cmake, and having a dxc portfile in vcpkg would make building and integrating dxc a breeze.

[2018-06-25 22:11] gwihlidal commented on #256
I listed more about the desire for dxc + vcpkg a while ago in https://github.com/Microsoft/DirectXShaderCompiler/issues/715

I wouldn't even mind maintaining the portfile, but I would want to start from a dxc codebase that cleanly compiles with standard cmake first :)

[2018-06-25 23:54] antiagainst commented on #256
Hey @gwihlidal: I'm also a fan of clean build process using well-known standard procedure. So you can see that we do not have any script wrapping around the Linux/macOS build process. (Or at least yet. ;-P) We are striking for plain cmake + ninja, but some additional options are requested to configure DXC. They are put in the `cmake-predefined-config-params` file. Merging them fully into the exist

[2018-06-26 00:04] ehsannas commented on #255
Ah yes. The DirectXShaderCompiler's README.md does specify

We should add it to our doc too.

Thanks for reporting.

[2018-06-26 01:19] gwihlidal commented on #256
Thanks for the info, @antiagainst - I will try what you suggested.

Regarding vcpkg, yes you can customize all aspects of cmake, apply source level patches, and other processes needed to build for the specified "triplet" (i.e. x64, static, windows).

In fact, vcpkg is the only reliable way I've been able to compile gRPC and protobuf on Windows :)

Looking at the portfile for gRPC, you can see quit

[2018-06-26 01:35] gwihlidal commented on #253
Thanks, @pow2clk - I can confirm that your branch does in fact fix the errors! :)

[2018-06-26 13:28] ehsannas commented on #253
Woohoo! \o/ Thanks @pow2clk

[2018-06-26 13:33] #253 closed

[2018-06-26 14:32] ehsannas opened #260 "-Fo creates files with zero permissions"
Looks like we have had a regression. I just tried -Fo option, and the file that was created was empty. It happened for both DXIL and SPIRV.

I am sure this was working in the past. So most likely we've had a regression somewhere. This shows that anything you don't test will break! :)

We should also add this as a test to our bots.

[2018-06-26 14:41] pow2clk commented on #260
That's strange I do run a test using this regularly and it still seems to be working for me.

Now you mention it and now I test it for something fresh, I did notice at one point when files are being created originally, they have their permissions set all to zero on Linux. Can you give more information about what you're observing?

I'm running `dxc -T ps_6_0 utils/hct/smoke.hlsl -Fo smoke.psv -spir

[2018-06-26 14:57] ehsannas commented on #260
I'm running something similar:

``dxc -T ps_6_0 smoke.hlsl -Fo temp``

(I get the same behavior with and without ``-spirv``)

---------- 1 ehsan ehsan 1052 Jun 26 10:56 temp

And the file ``temp`` is empty.

[2018-06-26 14:58] ehsannas commented on #260
yeah permissions are also not what I want.

[2018-06-26 15:00] pow2clk commented on #260
1052 indicates it's not empty. It's possible you can't see the contents because of the permissions. This is no kind of solution, but just to see, if you `chmod 644 temp`, can you view the contents?

[2018-06-26 15:01] pow2clk commented on #260
Well shoot. I thought that, all things being equal, my file IO change seemed most likely to blame. And it is :frown: I'll look into it.

[2018-06-26 15:04] ehsannas commented on #260
oh... sorry, I had just ran ``vim temp`` and saw no content. I failed to look at the file size from ``ls``.
Yes, after changing the permissions I do see the content.

[2018-06-26 15:04] ehsannas commented on #260
I'll update the issue title.

[2018-06-26 19:37] pow2clk opened #264 "Assert in optimization pass with new SPIRV-Tools"
A recent SPIRV-Tools change altered which Analyses were preserved for the compact IDs pass:

Author: Steven Perron <stevenperron@google.com>
Date:   Fri Jun 1 13:04:46 2018 -0400
   Preserve inst-to-block and def-use in passes.

Seems it's related to: https://github.com/KhronosGroup/SPIRV-Tools/issues/1593

The result of this for us is that instead of skipping that optimization pass entirely becau

[2018-06-26 22:31] #255 closed

[2018-06-26 22:35] #260 closed

[2018-06-27 17:43] pow2clk commented on #264
The short version is that the change I cited is to blame. The changed `getPreservedAnalyses`  suggests that the config isn't altered by compact IDs pass, but because it mucks with result IDs, which can be used to index basic blocks, that's not true. I've not yet devised a test within SPIRV-Tools to fire this assert, but I will and then I'll submit a PR to that project with the fix and a test to ca

[2018-06-27 17:54] antiagainst commented on #264
Oh, didn't notice this issue. Sorry, @pow2clk! Thanks for noticing this assert and investigate into it! Yes, we explicitly enabled the compat ID pass, because we've heard some drivers favors smaller IDs.

[2018-06-27 17:55] antiagainst commented on #264
And because we are only building release configuration, this is totally missed by bots...

[2018-06-27 17:59] pow2clk commented on #264
@antiagainst Thanks for the clarification. That's good enough for me. There's no harm including it if there's cause except that it doesn't seem to be very well tested, but that's a sample size of one.

It was missed by the DirectXShaderCompiler bots because it is only triggered when dxc is called to generate spirv. clang-spirv-tests doesn't produce this issue. It was by mistakenly using a shiny ne

[2018-06-27 18:05] dneto0 commented on #264
If you can share a test case please file an issue on SPIRV-Tools.

cc @s-perron

[2018-06-27 18:08] pow2clk commented on #264
@dneto0 working on it! Will do when I can.

[2018-06-27 19:21] pow2clk commented on #264
https://github.com/KhronosGroup/SPIRV-Tools/issues/1648 is opened to address this issue. Since I've confirmed it's entirely related to SPIRV-Tools, I'm closing this issue and moving discussion there. See you on the other side!

[2018-06-27 19:21] #264 closed

[2018-06-27 20:03] ehsannas commented on #264
Thanks @pow2clk

[2018-06-29 02:36] pow2clk commented on #254
Oh and just to see if what seems like an obvious bug in some environments was fixed in later versions, I checked out the corresponding code in LLVM 6. It's surprisingly unchanged. So it seems not.

[2020-04-27 20:20] jaebaek opened #303 "A bug for a `StructuredBuffer`."
I found a bug for a `StructuredBuffer`.
See [this example](https://github.com/google/DirectXShaderCompiler/pull/302/files#diff-22af72015ed4316674dde91a77ef7857) which is not related to debug info.
It has a validation error saying
[code]

When I previously tested it with spv-val, it worked fine without validation error.
I guess the error came from one of recent DXC commits.

@ehsannas Do you have a

[2020-05-08 18:12] ehsannas commented on #303
this error is from a non-legalized spir-v.

your source code passes just fine after legalization:
http://shader-playground.timjones.io/989fba21122c97d319d27ce25be63eb6

[2020-05-08 18:12] #303 closed, assigned to nobody

[2020-05-28 16:45] baldurk opened #311 "DebugTypeTemplateParameter contains forward reference"
Using dxc from appveyor on the latest debug_info branch @ b13ee4e2:

[code]

And this shader:

[code]

Building with no optimisation the resulting SPIR-V generates a forward reference with `DebugTypeTemplateParameter` which fails validation:

[code]

A snippet of the disassembly shows the issue:

[code]

Where the `DebugTypeTemplateParameter` and `DebugTypeTemplate` are switched in order.

I note

[2020-06-05 20:58] jaebaek commented on #311
Thank for reporting this issue, @baldurk
I will take a look!

[2020-06-08 13:52] danginsburg opened #316 "Apply binding shifts to resources without register assignments?"
From what I have understood (and experimenting with dxc), the -fvk-*-shift arguments provide binding shifts only for those resources that have explicit register assignments.

From https://github.com/Microsoft/DirectXShaderCompiler/blob/master/docs/SPIR-V.rst#implicit-binding-number-assignment it appears that one can provide a descriptor set and otherwise it auto generates a binding:

"If there is

[2020-06-08 15:55] ehsannas commented on #316
The Google fork of DXC is not actively monitored. Please file future issues in the upstream repository.
(I've copied this issue to upstream https://github.com/microsoft/DirectXShaderCompiler/issues/2956)

Thanks!

[2020-06-08 15:55] #316 closed, assigned to nobody

[2020-06-08 17:34] jaebaek commented on #311
This issue is fixed by #317
Please reopen this issue if it does not work

[2020-06-08 17:35] #311 closed, assigned to jaebaek

[2020-06-19 17:58] greg-lunarg opened #319 "[debug_info] DebugDeclare not generated for function scope variables"
[code]
`dxc.exe -spirv -E MainPs -T ps_6_0 -fspv-target-env=vulkan1.2 -fcgl -fspv-debug=rich -Vd foo.frag -Fo foo.frag.new.spv`

SPIR-V for MainPs in foo.frag.new.spv:

[code]

Notice no DebugDeclare for %c or %ps_output

[2020-06-30 23:34] #319 closed, assigned to jaebaek

[2020-08-25 17:39] greg-lunarg opened #323 "-fspv-debug=rich gives no spirv or error for shader with cbuffer of arrays of structs"
@jaebaek FYI

This problem is caused by a proprietary shader. I have not been successful in creating a reduced case. I can give a full copy to whoever is working on this problem.

Here is the cbuffer that was being processed:

[code]

Running in VS, I saw an assert tripped where some DebugInfo code was processing a member in aforementioned cbuffer and (erroneously) thought it was a method.

The as

[2020-08-26 17:27] greg-lunarg opened #324 "-fspv-debug=rich not generating DebugFunction for entry point function"
-fspv-debug=rich is not generating DebugFunction for the entry point function. In addition, it is generating a DebugFunction for an internal function that it probably should not generate.

Consider this shader:

[code]

The compiler is NOT generating a DebugFunction for MainPs. And it is generating a DebugFunction for an internal function called src.MainPs that the user does not need to know about

[2020-08-27 17:13] greg-lunarg commented on #324
@jaebaek Do you agree that this is a problem? If so, I will start working on a solution.

[2020-08-27 20:28] greg-lunarg opened #325 "-fspv-debug=rich generates invalid spir-v: Branch must appear in a block"
Compiling Sascha Willems shader:

dxc.exe -spirv -E main -T ps_6_1 -fspv-target-env=vulkan1.2 -fcgl -fspv-debug=rich -Vd -Fo cubemapdisplay.frag.Od.spv shadowmappingomni/cubemapdisplay.frag

Then validating:

spirv-val.exe --target-env vulkan1.2 cubemapdisplay.frag.dbg.Od.spv
error: line 250: Branch must appear in a block
  OpBranch %switch_0

Compiling without -fspv-debug=rich results in valid sp

[2020-08-27 20:37] greg-lunarg opened #326 "-fspv-debug=rich does not generate spirv or error for Sascha Willems oit/color.frag"
Does not generate spir-v or error:

dxc.exe -spirv -E main -T ps_6_1 -fspv-target-env=vulkan1.2 -fcgl -fspv-debug=rich -Vd -Fo color.frag.dbg.Od.spv oit/color.frag

Omitting -fspv-debug=rich results in valid spir-v.

[2020-08-27 20:51] greg-lunarg commented on #325
Similarly for about a half dozen pixel shaders.

[2020-08-31 15:48] jaebaek commented on #323
@greg-lunarg Thank you for reporting this bug

I think you used an old one. Could you please git-pull `debug_info` branch of google/DirectXShaderCompiler repo again?
I recently submitted a large PR that might fix this issue.

[2020-08-31 17:55] jaebaek commented on #324
I do not think this is a bug.

This may sound weird but `%src_MainPs` in SPIR-V is `MainPs` in HLSL while `%MainPs` is a wrapper function that is just generated by compiler i.e., it does not exist in HLSL.
(I heard it from the main DXC developer that the main reason behind this wrapper function is that the entry point must not have a return value in Vulkan but HLSL allows functions to have returns

[2020-08-31 18:21] jaebaek commented on #323
In addition, I just sent this PR: https://github.com/google/DirectXShaderCompiler/pull/327

It will allow us to run DXC with legalization (maybe without errors in most cases) even when we generate the debug information.

[2020-08-31 20:54] greg-lunarg commented on #324
I will concede that the function %src_MainPs is indeed what should be presented to the user as the function called MainPs in the shader source.

I do still think there is a bug: if you look at the one DebugFunction that is created, it has a Name of "src.MainPs". I believe the value of this field should be "MainPs". Here is the definition of the Name operand for DebugFunction:

Name is an OpString,

[2020-09-01 14:30] jaebaek commented on #324
Ah I see. Yes, it is a bug. I will change the name to `MainPs` not `src.MainPs`. In terms of the linkage name, yes, I agree with you but we try to avoid changing the type of operand if it is possible because of the backward compatibility. The empty string "" looks good to me. Let me update it.

[2020-09-08 15:57] jaebaek commented on #323
I will close this issue. Please let me know if it does not work.

[2020-09-08 15:57] #323 closed, assigned to jaebaek

[2020-09-08 16:23] jaebaek commented on #326
I cannot reproduce this error. Could you please doublecheck it?

[2020-09-09 19:33] #325 closed, assigned to jaebaek

[2020-09-09 19:33] #324 closed, assigned to jaebaek

[2022-06-01 19:11] allstar-app[bot] opened #331 "Security Policy violation Binary Artifacts"
_This issue was automatically created by [Allstar](https://github.com/ossf/allstar/)._

**Security Policy Violation**
Project is out of compliance with Binary Artifacts policy: binaries present in source code

**Rule Description**
Binary Artifacts are an increased security risk in your repository. Binary artifacts cannot be reviewed, allowing the introduction of possibly obsolete or maliciously su